
.container {
  padding: 100px;
}
.code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main {
  padding: 100px;
}

.unordered {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list {
  font-size: 20px;
  padding: 10px;
  border: 1px solid grey;
  cursor: pointer;
  margin-bottom: 10px;
  transition: all 0.15s ease-in-out;
}

 .selected {
  background: seagreen;
  border-color: gold;
  color: white;
}

.questionDiv.hide {
  display: none;
}

.questionDiv.show {
  display: block;
}

.buttonsDiv {
  margin-top: 50px;
}

.buttonsDiv .buttonn {
  background: transparent;
  border: 1px solid gold;
  padding: 15px 50px;
  font-size: 18px;
  margin-right: 20px;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

.buttonsDiv .buttonn:hover {
  background: gold;
  color: white;
}
